[submodule ".registry"]
	path = .registry
	url = https://github.com/andrea-havron-noaa/andrea-havron-noaa.r-universe.dev
	branch = HEAD
[submodule "FIMS"]
	path = FIMS
	url = https://github.com/Andrea-Havron-NOAA/FIMS
